# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules
server/dist/
server/.env/
client/.env/
client/.next/
client/pnp
client/pnp.js
client/yarn/install-state.gz

# next.js
client/next/
client/out/

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
